# Answers to the questions (Data is filtered by latest values)

In [5]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [16]:
teamDF <- read.csv(file="team.csv", header=TRUE, sep=",")

In [3]:
playerDF <- read.csv(file="player.csv", header=TRUE, sep=",")

In [8]:
head(playerDF)
head(teamDF)

  player_name       overall_rating gk_rating No_of_Presences No_of_leagues
1 Patryk Rachwal,18 61              45        4              1
2 Diego Mainz       72              53       79              1
3 Jose Dorado       74              64       69              1
4 Ignacio Gonzalez  69              60       14              2
5 Alberto Rey       67              55       40              1
6 Javier Jimenez    69             340        1              1

  team_long_name       buildup_play chance_creation defense No_of_scored_goals
1 FC Aarau             142          181             145     153
2 Aberdeen             176          186             157     365
3 AC Ajaccio           168          138             138     116
4 Milan                170          171             164     496
5 Académica de Coimbra 150          166             138     240
6 ADO Den Haag         162          145             142     366

Which are the top 10 players by overall rating?

In [6]:
top10OR <- playerDF %>% arrange(desc(overall_rating)) %>% select(player_name,overall_rating) %>% slice(1:10)

In [7]:
top10OR

   player_name        overall_rating
1  Lionel Messi       94
2  Cristiano Ronaldo  93
3  Neymar             90
4  Manuel Neuer       90
5  Luis Suarez        90
6  Arjen Robben       89
7  Zlatan Ibrahimovic 89
8  Andres Iniesta     88
9  Mesut Oezil        88
10 Sergio Aguero      88

Which are the top 10 goalkeepers by sum of gk attributes?

In [10]:
top10GK <- playerDF %>% arrange(desc(gk_rating)) %>% select(player_name,gk_rating) %>% slice(1:10)

In [11]:
top10GK

   player_name       gk_rating
1  Manuel Neuer      440
2  David De Gea      429
3  Edwin van der Sar 422
4  Robert Enke,30    421
5  Claudio Bravo     416
6  Bernd Leno        415
7  Petr Cech         414
8  Thibaut Courtois  414
9  Joe Hart          412
10 Yann Sommer       411

Which are the top 10 players by number of appearances (with any team they played with)?

In [12]:
top10NA <- playerDF %>% arrange(desc(No_of_Presences)) %>% select(player_name,No_of_Presences) %>% slice(1:10)
top10NA

   player_name          No_of_Presences
1  Steve Mandanda       289
2  Tim Howard           277
3  Hugo Lloris          274
4  Stephane Ruffier     270
5  Joe Hart             269
6  Samir Handanovic     264
7  Gorka Iraizoz Moreno 260
8  Cedric Carrasso      253
9  Manuel Neuer         251
10 Ryan Shawcross       250

Which are the top 10 players by number of leagues they played in?

In [14]:
top10NL <- playerDF %>% arrange(desc(No_of_leagues)) %>% select(player_name,No_of_leagues) %>% slice(1:10)
top10NL

   player_name           No_of_leagues
1  Gelson Fernandes      6
2  Ricky van Wolfswinkel 5
3  Filip Djuricic        5
4  Radamel Falcao        4
5  Jonathan De Guzman    4
6  Almen Abdi            4
7  Ibrahim Afellay       4
8  Edson Braafheid       4
9  Eljero Elia           4
10 Danijel Pranjic       4

Which are the top 10 teams by sum of build up play attributes?

In [17]:
top10BP <- teamDF %>% arrange(desc(buildup_play)) %>% select(team_long_name,buildup_play) %>% slice(1:10)
top10BP

   team_long_name             buildup_play
1  Carpi                      190
2  Widzew Łódź                190
3  Widzew Łódź                190
4  FC Nantes                  189
5  Podbeskidzie Bielsko-Biała 189
6  Lazio                      188
7  Chievo Verona              187
8  Blackburn Rovers           185
9  Udinese                    185
10 Genoa                      184

Which are the top 10 teams by sum of chance creation attributes?

In [20]:
top10CC <- teamDF %>% arrange(desc(chance_creation)) %>% select(team_long_name,chance_creation) %>% slice(1:10)
top10CC

   team_long_name         chance_creation
1  Lazio                  220
2  Birmingham City        203
3  Falkirk                200
4  Hamilton Academical FC 197
5  Cagliari               196
6  Lech Poznań            196
7  Juventus               195
8  Bayer 04 Leverkusen    192
9  SV Werder Bremen       192
10 Roma                   191

Which are the top 10 teams by sum of defense attributes?

In [22]:
top10DA <- teamDF %>% arrange(desc(defense)) %>% select(team_long_name,defense) %>% slice(1:10)
top10DA

   team_long_name      defense
1  Odra Wodzisław      205
2  KSV Roeselare       205
3  Falkirk             200
4  FC Barcelona        191
5  Lazio               190
6  Cagliari            187
7  FC Bayern Munich    184
8  Bayer 04 Leverkusen 183
9  Burnley             183
10 SV Werder Bremen    183

Which are the top 10 teams by number of scored goals?

In [18]:
top10SG <- teamDF %>% arrange(desc(No_of_scored_goals)) %>% select(team_long_name,No_of_scored_goals) %>% slice(1:10)
top10SG

   team_long_name    No_of_scored_goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582