In [486]:
library('magrittr')

In [487]:
library('dplyr')

In [488]:
library('class')

Reading the input csv file into a data frame

In [489]:
inputDataFrame <- read.csv("german_credit_data1.csv")

In [490]:
head(inputDataFrame)

  X. Age    Sex Job Housing Saving.accounts Checking.account Credit.amount
1  0  67   male   2     own            <NA>           little          1169
2  1  22 female   2     own          little         moderate          5951
3  2  49   male   1     own          little             <NA>          2096
4  3  45   male   2    free          little           little          7882
5  4  53   male   2    free          little           little          4870
6  5  35   male   1    free            <NA>             <NA>          9055
  Duration             Purpose Credit.Risks
1        6            radio/TV            1
2       48            radio/TV            2
3       12           education            1
4       42 furniture/equipment            1
5       24                 car            2
6       36           education            1

Selecting the required columns from the data frame and omitting the null values

In [491]:
modifiedData <- data.frame(inputDataFrame$Age,inputDataFrame$Credit.amount,inputDataFrame$Credit.Risks) %>% na.omit()

In [492]:
head(modifiedData)

  inputDataFrame.Age inputDataFrame.Credit.amount inputDataFrame.Credit.Risks
1                 67                         1169                           1
2                 22                         5951                           2
3                 49                         2096                           1
4                 45                         7882                           1
5                 53                         4870                           2
6                 35                         9055                           1

In [493]:
n.points <- nrow(modifiedData)

# Classification of the data for training = 80%

Sampling the training data to 80 %

In [494]:
training <- sample(1:n.points,800,replace=FALSE)

In [495]:
train <- subset(modifiedData[training,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [496]:
nrow(train)

[1] 800

Inserting the remaining data to test data

In [497]:
testing <-setdiff(1:n.points,training)

In [498]:
test <- subset(modifiedData[testing,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [499]:
cl <- modifiedData$inputDataFrame.Credit.Risks[training]

In [500]:
num.test.set.labels <- nrow(test)

In [501]:
k_Value <- c()

In [502]:
Misclassification_Rate <- c()

In [503]:
true.labels<-modifiedData$inputDataFrame.Credit.Risks[testing]

In [504]:
summaryKNN_2080 = data.frame(k_Value, Misclassification_Rate)

Calculating the misclassification rate for different k values

In [505]:
for(k in 1:20) {
  predicted.labels <- knn(train,test,cl,k)
  num.incorrect.labels<-sum(predicted.labels !=true.labels)
  misclassification.rate<-(100 * num.incorrect.labels)/(num.test.set.labels)
  tempDF <- c(as.integer(k),misclassification.rate)
  summaryKNN_2080 <- rbind(summaryKNN_2080,tempDF)
}

In [506]:
colnames(summaryKNN_2080) <- c("K-Value", "Misclassification Rate (Percentage) (Train=80)")

In [507]:
summaryKNN_2080

   K-Value Misclassification Rate (Percentage) (Train=80)
1        1                                           41.0
2        2                                           39.5
3        3                                           39.0
4        4                                           32.5
5        5                                           33.5
6        6                                           35.5
7        7                                           34.5
8        8                                           36.5
9        9                                           32.0
10      10                                           30.0
11      11                                           31.0
12      12                                           30.0
13      13                                           29.5
14      14                                           31.0
15      15                                           30.0
16      16                                           29.0
17      17                                           29.0
18      18                                           30.5
19      19                                           30.5
20      20                                           29.5

# Classification of the data for training = 70%

Sampling the training data to 70 %

In [508]:
summaryKNN_3070 = data.frame(k_Value, Misclassification_Rate)

In [509]:
training1 <- sample(1:n.points,700,replace=FALSE)

In [510]:
train1 <- subset(modifiedData[training1,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [511]:
nrow(train1)

[1] 700

Inserting the remaining data to test data

In [512]:
testing1 <-setdiff(1:n.points,training1)

In [513]:
test1<- subset(modifiedData[testing1,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [514]:
num.test.set.labels <- nrow(test1)

In [515]:
cl1 <- modifiedData$inputDataFrame.Credit.Risks[training1]

In [516]:
true.labels<-modifiedData$inputDataFrame.Credit.Risks[testing1]

Calculating the misclassification rate for different k values

In [517]:
count<-0
for(k in 1:20) {
    count<-count+1L
  predicted.labels <- knn(train1,test1,cl1,k)
  num.incorrect.labels1<-sum(predicted.labels != true.labels)
  misclassification.rate<-(100 * num.incorrect.labels1)/(num.test.set.labels)
  tempDF <- c(count,misclassification.rate)
  summaryKNN_3070 <- rbind(summaryKNN_3070,tempDF)
}

In [518]:
colnames(summaryKNN_3070) <- c("K-Value ", "Misclassification Rate (Percentage)(Train=70)")

In [519]:
head(summaryKNN_3070)

  K-Value  Misclassification Rate (Percentage)(Train=70)
1        1                                      36.66667
2        2                                      38.66667
3        3                                      36.33333
4        4                                      36.66667
5        5                                      34.66667
6        6                                      33.33333

# Classification of the data for training = 60%

Sampling the training data to 60 %

In [520]:
summaryKNN_4060 = data.frame(k_Value, Misclassification_Rate)

In [521]:
training2 <- sample(1:n.points,600,replace=FALSE)

In [522]:
train2 <- subset(modifiedData[training2,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [523]:
nrow(train2)

[1] 600

Inserting the remaining data to test data

In [524]:
testing2 <-setdiff(1:n.points,training2)

In [525]:
test2<- subset(modifiedData[testing2,],select=c(inputDataFrame.Age,inputDataFrame.Credit.amount))

In [526]:
num.test.set.labels <- nrow(test2)

In [527]:
cl2 <- modifiedData$inputDataFrame.Credit.Risks[training2]

In [528]:
true.labels<-modifiedData$inputDataFrame.Credit.Risks[testing2]

Calculating the misclassification rate for different k values

In [529]:
count<-0
for(k in 1:20) {
    count<-count+1L
  predicted.labels <- knn(train2,test2,cl2,k)
  num.incorrect.labels2<-sum(predicted.labels != true.labels)
  misclassification.rate<-(100 * num.incorrect.labels2)/(num.test.set.labels)
  tempDF <- c(count,misclassification.rate)
  summaryKNN_4060 <- rbind(summaryKNN_4060,tempDF)
}

In [530]:
colnames(summaryKNN_4060) <- c("K-Value ", "Misclassification Rate (Percentage)(Train=60)")

In [531]:
head(summaryKNN_4060)

  K-Value  Misclassification Rate (Percentage)(Train=60)
1        1                                         41.00
2        2                                         39.25
3        3                                         38.00
4        4                                         36.25
5        5                                         35.50
6        6                                         35.75

# Summary of results for different training data

Misclassification percentage for traing data = 80%

In [532]:
summaryKNN_2080

   K-Value Misclassification Rate (Percentage) (Train=80)
1        1                                           41.0
2        2                                           39.5
3        3                                           39.0
4        4                                           32.5
5        5                                           33.5
6        6                                           35.5
7        7                                           34.5
8        8                                           36.5
9        9                                           32.0
10      10                                           30.0
11      11                                           31.0
12      12                                           30.0
13      13                                           29.5
14      14                                           31.0
15      15                                           30.0
16      16                                           29.0
17      17                                           29.0
18      18                                           30.5
19      19                                           30.5
20      20                                           29.5

Misclassification percentage for traing data = 70%

In [533]:
summaryKNN_3070

   K-Value  Misclassification Rate (Percentage)(Train=70)
1         1                                      36.66667
2         2                                      38.66667
3         3                                      36.33333
4         4                                      36.66667
5         5                                      34.66667
6         6                                      33.33333
7         7                                      33.00000
8         8                                      29.66667
9         9                                      32.66667
10       10                                      30.33333
11       11                                      31.33333
12       12                                      31.33333
13       13                                      30.00000
14       14                                      29.33333
15       15                                      29.66667
16       16                                      29.00000
17       17                                      30.33333
18       18                                      29.00000
19       19                                      30.00000
20       20                                      30.00000

Misclassification percentage for traing data = 60%

In [534]:
summaryKNN_4060

   K-Value  Misclassification Rate (Percentage)(Train=60)
1         1                                         41.00
2         2                                         39.25
3         3                                         38.00
4         4                                         36.25
5         5                                         35.50
6         6                                         35.75
7         7                                         34.25
8         8                                         34.50
9         9                                         31.50
10       10                                         31.75
11       11                                         32.50
12       12                                         32.75
13       13                                         32.00
14       14                                         31.75
15       15                                         31.50
16       16                                         30.25
17       17                                         29.75
18       18                                         30.00
19       19                                         29.75
20       20                                         30.50