In [113]:
library(dplyr)

In [114]:
mydb <- src_sqlite("database.sqlite",create=FALSE)

In [115]:
src_tbls(mydb)

[1] "Country"           "League"            "Match"
[4] "Player"            "Player_Attributes" "Team"
[7] "Team_Attributes"   "sqlite_sequence"

In [116]:
playerInfoTable <- tbl(mydb, 'Player')

In [118]:
playerAttributesInfoTable <- tbl(mydb, 'Player_Attributes')

In [176]:
player1 <- select(playerInfoTable,player_name,player_api_id)

In [ ]:
playerAttribute1 <- select(playerAttributesInfoTable,player_api_id,overall_rating,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes)

In [491]:
matchTable <- tbl(mydb, 'Match')

In [789]:
matchDF <- data.frame(matchTable)

In [790]:
matchDF <- select(matchDF,home_player_1:away_player_11)

In [590]:
matchDFTailNum <- matchDFTailNum %>% group_by(home_player_1) %>% filter(home_player_1=='157303')  %>% summarise(count = n())

In [784]:
library("tidyr")

In [792]:
matchDF <- matchDF %>% drop_na(home_player_1:away_player_11)

In [626]:
playerAttribute <- select(playerAttributesInfoTable,player_api_id)
playerAttributeDF <- data.frame(playerAttribute)
playerAttributeUniqueDF <- distinct(playerAttributeDF, player_api_id)

In [651]:
matchDF1 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_1"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF2 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_2"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF3 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_3"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF4 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_4"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF5 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_5"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF6 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_6"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF7 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_7"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF8 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_8"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF9 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_9"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF10 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_10"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF11 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "home_player_11"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF12 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_1"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF13 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_2"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF14 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_3"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF15 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_4"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF16 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_5"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF17 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_6"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF18 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_7"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF19 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_8"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF20 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_9"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF21 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_10"))%>% group_by(player_api_id) %>% summarise(count = n())
matchDF22 <- playerAttributeUniqueDF %>% inner_join(matchDF,by = c("player_api_id" = "away_player_11"))%>% group_by(player_api_id) %>% summarise(count = n())

In [688]:
matchDFTotal <- matchDF1 %>% rbind(matchDF2) %>% rbind(matchDF3) %>% rbind(matchDF4) %>% rbind(matchDF5) %>% rbind(matchDF6) %>% rbind(matchDF7) %>% rbind(matchDF8) %>% rbind(matchDF9) %>% rbind(matchDF10) %>% rbind(matchDF11) %>% rbind(matchDF12) %>% rbind(matchDF13) %>% rbind(matchDF14) %>% rbind(matchDF15) %>% rbind(matchDF16) %>% rbind(matchDF17) %>% rbind(matchDF18) %>% rbind(matchDF19) %>% rbind(matchDF20) %>% rbind(matchDF21) %>% rbind(matchDF22)

In [689]:
matchDFTotal <- matchDFTotal %>%  group_by(player_api_id) %>% summarise(No_of_Presences = sum(count)) %>% arrange(desc(No_of_Presences))

In [690]:
head(matchDFTotal)

  player_api_id No_of_Presences
1 31293         289
2 31465         277
3 26295         274
4 41097         270
5 31432         269
6 42422         264

In [285]:
helperTable <- inner_join(playerAttribute1,player1)

Joining, by = "player_api_id"

In [681]:
helperTableDF <- data.frame(helperTable)

In [682]:
helperTableDF <- mutate(helperTableDF,gk_rating=gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes)

In [683]:
helperTableDF <- select(helperTableDF,-(gk_diving:gk_reflexes))

In [684]:
helperTableDFUnique <- distinct(helperTableDF, player_api_id, .keep_all = TRUE)

In [328]:
helperTableDFUnique <- select(helperTableDFUnique,-player_api_id)

In [330]:
helperTableDFUnique <- helperTableDFUnique[c(2,1,3)]

In [691]:
nrow(helperTableDFUnique)

[1] 11060

In [692]:
helperTableDFUnique <- matchDFTotal %>% inner_join(helperTableDFUnique)

Joining, by = "player_api_id"

In [727]:
nrow(helperTableDFUnique)

[1] 10787

In [686]:
filter(helperTableDFUnique,player_api_id=='31293')

  player_api_id overall_rating player_name    gk_rating
1 31293         83             Steve Mandanda 407

In [699]:
lmatchDF <- data.frame(matchTable)

In [707]:
lmatchDF <- lmatchDF %>% select(league_id,home_player_1:away_player_11) %>% na.omit()

In [718]:
lmatchDF1 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_1")) %>% distinct(player_api_id,league_id)
lmatchDF2 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_2")) %>% distinct(player_api_id,league_id) 
lmatchDF3 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_3")) %>% distinct(player_api_id,league_id) 
lmatchDF4 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_4")) %>% distinct(player_api_id,league_id) 
lmatchDF5 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_5")) %>% distinct(player_api_id,league_id) 
lmatchDF6 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_6")) %>% distinct(player_api_id,league_id) 
lmatchDF7 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_7")) %>% distinct(player_api_id,league_id) 
lmatchDF8 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_8")) %>% distinct(player_api_id,league_id) 
lmatchDF9 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_9")) %>% distinct(player_api_id,league_id) 
lmatchDF10 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_10")) %>% distinct(player_api_id,league_id) 
lmatchDF11 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "home_player_11")) %>% distinct(player_api_id,league_id) 
lmatchDF12 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_1")) %>% distinct(player_api_id,league_id) 
lmatchDF13 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_2")) %>% distinct(player_api_id,league_id) 
lmatchDF14 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_3")) %>% distinct(player_api_id,league_id) 
lmatchDF15 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_4")) %>% distinct(player_api_id,league_id) 
lmatchDF16 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_5")) %>% distinct(player_api_id,league_id) 
lmatchDF17 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_6")) %>% distinct(player_api_id,league_id) 
lmatchDF18 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_7")) %>% distinct(player_api_id,league_id) 
lmatchDF19 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_8")) %>% distinct(player_api_id,league_id) 
lmatchDF20 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_9")) %>% distinct(player_api_id,league_id) 
lmatchDF21 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_10")) %>% distinct(player_api_id,league_id) 
lmatchDF22 <- playerAttributeUniqueDF %>% inner_join(lmatchDF,by = c("player_api_id" = "away_player_11")) %>% distinct(player_api_id,league_id)

In [730]:
lmatchDFTotal <- lmatchDF1 %>% rbind(lmatchDF2) %>% rbind(lmatchDF3) %>% rbind(lmatchDF4) %>% rbind(lmatchDF5) %>% rbind(lmatchDF6) %>% rbind(lmatchDF7) %>% rbind(lmatchDF8) %>% rbind(lmatchDF9) %>% rbind(lmatchDF10) %>% rbind(lmatchDF11) %>% rbind(lmatchDF12) %>% rbind(lmatchDF13) %>% rbind(lmatchDF14) %>% rbind(lmatchDF15) %>% rbind(lmatchDF16) %>% rbind(lmatchDF17) %>% rbind(lmatchDF18) %>% rbind(lmatchDF19) %>% rbind(lmatchDF20) %>% rbind(lmatchDF21) %>% rbind(lmatchDF22)

In [731]:
lmatchDFTotal <- lmatchDFTotal %>% distinct(player_api_id,league_id) %>% group_by(player_api_id) %>% summarise(No_of_leagues = n())

In [732]:
helperTableDFUniqueFinal <- lmatchDFTotal %>% inner_join(helperTableDFUnique)

Joining, by = "player_api_id"

In [736]:
playerDetails <- helperTableDFUniqueFinal[c(5,4,6,3,2)]

In [737]:
playerDetails

      player_name              overall_rating gk_rating No_of_Presences
1     Patryk Rachwal,18        61              45         4
2     Diego Mainz              72              53        79
3     Jose Dorado              74              64        69
4     Ignacio Gonzalez         69              60        14
5     Alberto Rey              67              55        40
6     Javier Jimenez           69             340         1
7     Pablo Hernandez          76              54       131
8     Ruben Perez              76              56       128
9     Ivan Perez               65              52         2
10    Vicente Sanchez          72              49        16
11    Gregory Lacombe          65              42         5
12    Ugur Inceman             68              44        16
13    David Rivas Rodriguez    62              51         3
14    Jorge Molina             75              55        70
15    Sergio Aragones          65             323        19
16    Alexandre Hauw           66              53        13
17    Marat Izmailov           73              53        26
18    Kelly Berville           67             115         3
19    Abdelmalek Cherrad       62              49         1
20    Oscar Sanchez            67              40         4
21    Vincent Euvrard          64              54        54
22    Luca Belingheri          68              46         1
23    Aleksander Radosavljevic 65              62        70
24    Peter Halmosi            65              51         4
25    Alexandr Kerzhakov       77              68        17
26    Andrey Arshavin          75              55        70
27    Lee Wilkie               73             128        30
28    Boban Grncarov           66              54        25
29    Iriney                   69              40        62
30    Tim Clancy               57              64        84
⋮     ⋮                        ⋮              ⋮         ⋮
10758 Alban Lafont             70             355       24
10759 Ronael Pierre-Gabriel    58              47        3
10760 Kylian Mbappe Lottin     65              42        2
10761 Colin Trachsel           51              48        1
10762 Christopher Nkunku       62              43        4
10763 Eray Cumart              52              32        4
10764 Jordan Lyden             58              53        2
10765 Jonatan Montiel          67              47        1
10766 Aissa Laidouni           59              61        1
10767 Sebastien Lamonge        56              46        1
10768 Felipe Augusto           64              59        4
10769 Antoine Rabillard        61              56        1
10770 Levi Garcia              64              49        4
10771 Dorian Caddy             64              54        2
10772 Charles Traore           55              52        5
10773 Rafa Soares              70              60       12
10774 Charly Musonda           71              36       12
10775 Wanderson Lima           53              54        1
10776 Dennis van der Heijden   60              54        1
10777 Cedric Itten             54              41        4
10778 Christopher McLaughlin   50              49        2
10779 Justin Hoogma            59              54        1
10780 Kamil Jozwiak            56              54        1
10781 Jorge Intima             57              59        1
10782 Linus Obexer             51              45        2
10783 Charles Pickel           50              53        1
10784 Francisco Afonso         59              42        2
10785 Fynn Arkenberg           58              46        2
10786 Rees Greenwood           60              48        1
10787 Alexandre Azevedo        58              54        1
      No_of_leagues
1     1
2     1
3     1
4     2
5     1
6     1
7     2
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
⋮     ⋮
10758 1
10759 1
10760 1
10761 1
10762 1
10763 1
10764 1
10765 1
10766 1
10767 1
10768 1
10769 1
10770 1
10771 1
10772 1
10773 1
10774 1
10775 1
10776 1
10777 1
10778 1
10779 1
10780 1
10781 1
10782 1
10783 1
10784 1
10785 1
10786 1
10787 1

# Match Details

In [738]:
teamDetails <- tbl(mydb,'Team')

In [1022]:
teamDetailsDF <- data.frame(teamDetails) %>% select(team_api_id,team_long_name)

In [1023]:
teamAttr <- tbl(mydb,'Team_Attributes')

In [1024]:
teamAttr <- teamAttr  %>% select(team_api_id,date,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth)

In [1025]:
teamAttrDF <- teamAttr %>% data.frame()

In [1026]:
teamAttrDF <- teamAttrDF %>% drop_na(date)

In [1032]:
nrow(teamAttrDF)

[1] 288

In [1028]:
teamAttrDF[is.na(teamAttrDF)] <- 0

In [1030]:
teamAttrDF <- teamAttrDF %>% group_by(team_api_id) %>% mutate(buildup_play=buildUpPlaySpeed+buildUpPlayDribbling+buildUpPlayPassing,chance_creation=chanceCreationPassing+chanceCreationCrossing+chanceCreationShooting,defense = defencePressure+defenceAggression+defenceTeamWidth) %>% select(team_api_id,date,buildup_play,chance_creation,defense) %>% arrange(desc(date))

In [1031]:
teamAttrDF <- distinct(teamAttrDF, team_api_id, .keep_all = TRUE)

In [1033]:
teamAttrDF1 <- teamAttrDF

In [1034]:
teamAttrDF <- teamAttrDF %>% inner_join(teamDetailsDF)

Joining, by = "team_api_id"

In [1035]:
matchDetails <- tbl(mydb,'Match')

In [1036]:
matchDetailsDF1 <- data.frame(matchDetails) %>% select(home_team_api_id,home_team_goal)

In [1037]:
matchDetailsDF2 <- data.frame(matchDetails) %>% select(away_team_api_id,away_team_goal)

In [1038]:
matchDetailsDF1 <- matchDetailsDF1 %>% drop_na()

In [1039]:
matchDetailsDF2 <- matchDetailsDF2 %>% drop_na()

In [1040]:
matchDetailsDF1 <- matchDetailsDF1 %>% rename(team_api_id=home_team_api_id,team_goal=home_team_goal)

In [1041]:
matchDetailsDF2 <- matchDetailsDF2 %>% rename(team_api_id=away_team_api_id,team_goal=away_team_goal)

In [1043]:
matchDetailsDF <- matchDetailsDF1 %>% rbind(matchDetailsDF2)

In [1044]:
matchDetailsDF <- matchDetailsDF %>% group_by(team_api_id) %>% summarise(No_of_scored_goals=sum(team_goal))

In [1048]:
matchDetailsDFtemp <- matchDetailsDFtemp %>% distinct(team_api_id)

In [1049]:
nrow(matchDetailsDFtemp)

[1] 299

In [1056]:
teamAttrDF <- teamAttrDF %>% inner_join(matchDetailsDF,by='team_api_id')

In [1060]:
teamAttrDF1 <- teamAttrDF

In [1064]:
teamAttrDF1 <- teamAttrDF1 %>% distinct(team_api_id)

In [1085]:
nrow(teamAttrDF)

[1] 288

In [1071]:
head(teamAttrDF)

  team_api_id date                buildup_play chance_creation defense
1  9930       2015-09-10 00:00:00 142          181             145
2  8485       2015-09-10 00:00:00 176          186             157
3  8576       2015-09-10 00:00:00 168          138             138
4  8564       2015-09-10 00:00:00 170          171             164
5 10215       2015-09-10 00:00:00 150          166             138
6 10217       2015-09-10 00:00:00 162          145             142
  team_long_name       No_of_scored_goals
1 FC Aarau             153
2 Aberdeen             365
3 AC Ajaccio           116
4 Milan                496
5 Académica de Coimbra 240
6 ADO Den Haag         366

In [1092]:
teamDetailsFinal <- teamAttrDF[c(6, 3, 4, 5, 7)]

In [1093]:
nrow(teamDetailsFinal)

[1] 288

In [1094]:
head(teamDetailsFinal)

  team_long_name       buildup_play chance_creation defense No_of_scored_goals
1 FC Aarau             142          181             145     153
2 Aberdeen             176          186             157     365
3 AC Ajaccio           168          138             138     116
4 Milan                170          171             164     496
5 Académica de Coimbra 150          166             138     240
6 ADO Den Haag         162          145             142     366

In [979]:
head(playerDetails)

  player_name       overall_rating gk_rating No_of_Presences No_of_leagues
1 Patryk Rachwal,18 61              45        4              1
2 Diego Mainz       72              53       79              1
3 Jose Dorado       74              64       69              1
4 Ignacio Gonzalez  69              60       14              2
5 Alberto Rey       67              55       40              1
6 Javier Jimenez    69             340        1              1

In [1008]:
write.csv(teamDetailsFinal, file = "team.csv",row.names=FALSE)

In [981]:
write.csv(playerDetails, file = "player.csv",row.names=FALSE)

In [982]:
teamDF <- read.csv(file="team.csv", header=TRUE, sep=",")

In [983]:
playerDF <- read.csv(file="player.csv", header=TRUE, sep=",")

In [985]:
head(playerDF)

  player_name       overall_rating gk_rating No_of_Presences No_of_leagues
1 Patryk Rachwal,18 61              45        4              1
2 Diego Mainz       72              53       79              1
3 Jose Dorado       74              64       69              1
4 Ignacio Gonzalez  69              60       14              2
5 Alberto Rey       67              55       40              1
6 Javier Jimenez    69             340        1              1

In [986]:
head(teamDF)

  team_long_name       buildup_play chance_creation defense No_of_scored_goals
1 FC Aarau             142          181             145     153
2 Aberdeen             176          186             157     365
3 AC Ajaccio           168          138             138     116
4 Milan                170          171             164     496
5 Académica de Coimbra 150          166             138     240
6 ADO Den Haag         162          145             142     366

Which are the top 10 players by overall rating?

In [987]:
top10OR <- playerDF %>% arrange(desc(overall_rating)) %>% select(player_name) %>% slice(1:10)

In [988]:
top10OR

   player_name
1  Lionel Messi
2  Cristiano Ronaldo
3  Neymar
4  Manuel Neuer
5  Luis Suarez
6  Arjen Robben
7  Zlatan Ibrahimovic
8  Andres Iniesta
9  Mesut Oezil
10 Sergio Aguero